@charset "UTF-8";

@import "./variables.scss";

/*--------------------
common_settings
--------------------*/

/*--------------------
case_select
--------------------*/

.case_select {
  padding-bottom: 86px;
}
.case_select_swiper {
  margin-top: 33px;
}

.swiper-wrapper {
  height: 80vh;
  margin-left: 107px;
  width: 100%;
}

.case_container {
  @include case_container($dark_indigo);
}

.reference_container {
  @include case_container($deep_violet);
}

.case_number {
  font-size: 27px;
  font-weight: normal;
  position: relative;
}

.case_number::after {
  background-color: $pure_white;
  bottom: -10px;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.case_title {
  font-size: 30px;
  font-weight: normal;
  line-height: 54px;
}

.case2_title {
  line-height: 108px;
}

.example_title {
  margin-top: 168px;
}

.case_image {
  max-width: 441px;
}

.description {
  font-size: 18px;
}

.case_link_container {
  gap: 14px;
  justify-content: center;
}

.simulation_link {
  @include link_button(21px, 85px, 180px);
  background: transparent linear-gradient(251deg, #6b4bf7 0%, #3d4bf8eb 100%) 0%
    0% no-repeat padding-box;
}

.example_link {
  margin-top: 60px;
}

.image {
  display: block;
  width: 15px;
}

.link_image {
  vertical-align: middle;
  width: 100%;
}

.scheme_link {
  @include link_button(21px, 85px, 180px);
  background: transparent linear-gradient(224deg, #3ca4fd 0%, #2478ffeb 100%) 0%
    0% no-repeat padding-box;
  cursor: pointer;
}

/*--------------------
reference_modal_1
--------------------*/

.reference {
  align-items: center;
  display: none;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.reference.active {
  display: block;
}

.reference_modal {
  background-color: $pure_white;
  height: 95vh;
  width: 95vw;
}

.reference_title {
  background-color: $dark_indigo;
  border-right: 2px solid #fff;
  color: #fff;
  font-size: 28px;
  padding: 13px 94px;
}

.number_heading {
  background-color: $light_gray;
  border-right: 2px solid #fff;
  color: #fff;
  font-size: 28px;
  padding: 13px 26px;
}

.number_heading.active {
  background-color: $blue;
}

.modal_close {
  @include close(60px, 60px);
  background-color: #ed4d5a;
  position: absolute;
  top: 23px;
  right: 26px;
}

.image_modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 100;
}

.image_modal.active {
  display: flex;
}

.larger_image {
  width: 1080px;
}

.image_modal_container {
  position: relative;
  z-index: 101;
  max-width: 100%;
}

.image_modal_close {
  @include close(60px, 60px);
  background-color: #ed4d5a;
  position: absolute;
  top: 23px;
  right: 26px;
}

.reference_swiper .swiper-wrapper {
  margin-left: 0;
}

.referenece .description {
  color: $deep_purple;
}

.slide_layout {
  gap: 32px;
}

.slide_section_title {
  color: #328ffc;
  font-size: 22px;
  margin-top: 32px;
}

.slide_left_contents,
.slide_right_contents {
  width: 45%;
}

.station_top_image {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.top_image_container {
  height: 30%;
  justify-content: center;
}

.image_container {
  justify-content: center;
  position: relative;
}

.zoom_image {
  bottom: 10px;
  position: absolute;
  right: 12px;
  width: 40px;
}

.speech_bubble {
  border: 2px solid $blue;
  border-radius: 6px;
  flex-wrap: wrap;
  gap: 10px 32px;
  justify-content: center;
  margin: 16px auto 0;
  padding: 30px 42px;
  width: 100%;
}

.station_image_container {
  height: 45%;
  width: 45%;
}

.station_image {
  width: 100%;
}

.effect_text_container {
  background-color: #328ffc1a;
  border-radius: 8px;
  padding: 18px 32px 18px 18px;
  width: 100%;
}

.effect_text {
  color: $deep_purple;
}

.simulation_title {
  margin-top: 40px;
}

.simulation_layout {
  gap: 21px;
}

.simulation_list {
  padding-left: 20px;
  position: relative;
}

.simulation_list::before {
  content: "•";
  color: $blue;
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 14%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1400px) {
  .swiper-wrapper {
    height: 60vh;
  }

  .case_image {
    max-width: 320px;
  }

  .larger_image {
    width: 960px;
  }

  /*--------------------
  reference_modal_1
  --------------------*/

  .reference_modal {
    height: 71vh;
  }

  .top_image_container {
    height: 25%;
  }
}

@media screen and (max-width: 1024px) {
  /*--------------------
    case_select_1024
    --------------------*/
  .swiper-wrapper {
    margin-left: 0;
  }
}
