@charset "UTF-8";

@import "./variables.scss";

/*--------------------
case_header
--------------------*/

/*--------------------
case_1
--------------------*/

.case_main {
  height: 100%;
}

.case {
  height: 100%;
  position: relative;
}

.case_main .page_heading {
  margin-top: 0;
  padding-top: 57px;
}

.case_contents {
  height: 100%;
}

.map_image {
  position: absolute;
  top: 0;
  z-index: -10;
}

.case_content_image {
  display: block;
  object-fit: contain;
  width: 100%;
}

.magnifier_icon {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 61px;
}

.case_top {
  height: 160px;
}

.case_top_layout {
  align-items: center;
  gap: 16px;
  height: 100%;
  justify-content: flex-end;
  margin-right: 70px;
}

.btn {
  background-color: #dedede;
  color: #848484;
  font-size: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 120px;
}

.right_btn {
  border: 2px solid #525252;
  border-left: 1px solid #525252;
  border-radius: 0 5px 5px 0;
}

.left_btn {
  border: 2px solid #525252;
  border-right: 1px solid #525252;
  border-radius: 5px 0 0 5px;
}

.btn.active {
  background-color: $pink;
  color: $pure_white;
}

.menu {
  background-color: $dark_indigo;
  border-radius: 8px;
  height: fit-content;
  position: absolute;
  right: 3%;
  top: 53%;
  width: 238px;
}

.menu_container {
  align-items: center;
  display: none;
  padding: 0 20px;
}

.menu_container.active {
  display: block;
}

.menu_list {
  margin-bottom: 13px;
}

.menu_close {
  @include close(27px, 27px);
  background-color: #ed4d5a;
  left: 5%;
  position: absolute;
  top: 15px;
}

.menu_close.close {
  background-color: #37c78c;
}

.menu_close.close img {
  transform: rotate(45deg);
}

.menu_title {
  color: $pure_white;
  font-size: 23px;
  margin-bottom: 15px;
  margin-top: 14px;
}

.menu_button {
  @include link_button(24px, 68px, 200px);
  background: transparent linear-gradient(250deg, #3ca4fd 0%, #2478ffeb 100%) 0%
    0% no-repeat padding-box;
}

.case_bottom {
  bottom: 5%;
  position: absolute;
  right: 5%;
}

.case_bottom_text {
  color: $pure_white;
  font-size: 22px;
}

/*--------------------
modal
--------------------*/

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  left: 50%;
  max-width: 1800px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.modal.active {
  display: block;
}

.modal_close {
  @include close(60px, 60px);
  background-color: #ed4d5a;
  position: absolute;
  top: 23px;
  right: 26px;
}

.modal_swiper {
  width: 100%;
}

.section_title_container {
  justify-content: center;
}

.section_title {
  background-color: $light_gray;
  border: 1px solid $pure_white;
  color: $pure_white;
  font-size: 24px;
  margin-top: 43px;
  padding: 13px 94px;
}

.section_title.active {
  background: transparent linear-gradient(258deg, #3ca4fd 0%, #2478ffeb 100%) 0%
    0% no-repeat padding-box;
}

.swiper-slide {
  background-color: $pure_white;
  border-radius: 3px;
  padding-bottom: 32px;
}

.slide_layout {
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.description_container {
  max-width: 642px;
}

.description {
  font-size: 18px;
  margin-bottom: 26px;
}

.description_list {
  list-style: disc;
  margin-bottom: 18px;
}

.description_list::marker {
  color: $blue;
  width: 10px;
}

.image_layout {
  gap: 24px;
  margin-top: 13px;
}

.image_layout_top {
  margin-top: 0;
}

.image_layout_middle {
  justify-content: center;
}

.modal_image {
  display: block;
  max-width: 280px;
}
