@charset "UTF-8";

@import "./variables.scss";

/*--------------------
case_header
--------------------*/

/*--------------------
case_1
--------------------*/

.case_main {
  height: 100%;
}

.case {
  height: 100%;
  position: relative;
}

.case_main .page_heading {
  margin-top: 0;
  padding-top: 57px;
}

.case_contents {
  height: 100%;
}

.map_image {
  position: absolute;
  top: 0;
  z-index: -10;
}

.case_content_image {
  display: block;
  object-fit: contain;
  width: 100%;
}

.magnifier_icon {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 61px;
}

.case_top {
  height: 160px;
}

.case_top_layout {
  align-items: center;
  gap: 16px;
  height: 100%;
  justify-content: flex-end;
  margin-right: 70px;
}

.btn {
  background-color: #dedede;
  color: #848484;
  font-size: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 120px;
}

.right_btn {
  border: 2px solid #525252;
  border-left: 1px solid #525252;
  border-radius: 0 5px 5px 0;
}

.left_btn {
  border: 2px solid #525252;
  border-right: 1px solid #525252;
  border-radius: 5px 0 0 5px;
}

.btn.active {
  background-color: $pink;
  color: $pure_white;
}

.menu {
  background-color: $dark_indigo;
  border-radius: 8px;
  height: fit-content;
  position: absolute;
  right: 3%;
  top: 53%;
  width: 238px;
}

.menu_container {
  align-items: center;
  display: none;
  padding: 0 20px;
}

.menu_container.active {
  display: block;
}

.menu_list {
  margin-bottom: 13px;
}

.menu_close {
  @include close;
  background-color: #ed4d5a;
  left: 5%;
  position: absolute;
  top: 15px;
}

.menu_close.close {
  background-color: #37c78c;
}

.menu_close.close img {
  transform: rotate(45deg);
}

.menu_title {
  color: $pure_white;
  font-size: 23px;
  margin-bottom: 15px;
  margin-top: 14px;
}

.menu_button {
  @include link_button(24px, 68px, 200px);
  background: transparent linear-gradient(250deg, #3ca4fd 0%, #2478ffeb 100%) 0%
    0% no-repeat padding-box;
}

.case_bottom {
  bottom: 5%;
  position: absolute;
  right: 5%;
}

.case_bottom_text {
  color: $pure_white;
  font-size: 22px;
}
