@charset "UTF-8";

@import './variables.scss';

/*--------------------
consortium
--------------------*/

.consortium_contents {
  background-color: $dark_blue;
  color: $pure_white;
  margin-top: 96px;
  padding-bottom: 176px;
  padding-top: 155px;
}

.consortium_layout {
  font-size: 26px;
  gap: 60px;
  justify-content: center;
}


.consortium_left_content {
  flex-direction: column;
  gap: 37px;
  justify-content: space-between;
  max-width: 912px;
  width: 100%;
}


.contents_text {
  margin-top: 20px;
}

.consortium_right_content {
  flex-direction: column;
  gap: 103px;
  justify-content: center;
  max-width: 610px;
  width: 100%;
}


.company_list_container {
  border: 3px solid $pure_white;
  padding: 20px 68px 32px 68px;
}



.company_name {
  line-height: 38px;
  margin-top: 20px;
}


.consortium_image {
  width: 100%;
}
