@charset "UTF-8";

@import "./variables.scss";

.outline_contents {
  background-color: $pure_white;
  height: 65vh;
  margin: 60px auto 0 auto;
  max-width: 1500px;
}

.outline_contents_container {
  height: 100%;
  padding: 72px 66px 0 66px;
}

.outline_text {
  font-size: 26px;
  line-height: 40px;
  list-style-type: disc;
}

.outline_text .bold {
  font-weight: bold;
}

.outline_text:last-of-type {
  margin-top: 24px;
}

.outline_text::marker {
  color: $blue;
}

.outline_contents_image {
  object-fit: contain;
  width: 45%;
}

@media screen and (max-width: 1400px) {
  .outline_contents {
    margin: 30px auto 0 auto;
    max-width: 1250px;
  }

  .outline_text {
    font-size: 24px;
    line-height: 30px;
  }
}
