@charset "UTF-8";

@import "./variables.scss";

/*--------------------
common_settings
--------------------*/

/*--------------------
fv
--------------------*/
.top_main {
  height: 100%;
}

.fv {
  height: 100%;
}

.fv_container {
  height: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.fv_left_contents {
  align-items: center;
  justify-content: center;
}

.top_main .page_title {
  color: $pure_white;
  font-size: 52px;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin: 162px auto 0;
  max-width: 800px;
  text-shadow: 0px 0px 10px #1d496429;
}

.fv_right_contents {
  align-items: center;
  background-color: #161a2e;
  flex-direction: column;
  justify-content: center;
}

.empty {
  margin-bottom: auto;
}

.top_button_container {
  gap: 43px;
  justify-content: center;
}

.top_button {
  align-items: center;
  background-color: rgba(53, 53, 193, 0.8666666667);
  border: 4px solid #fff;
  border-radius: 140px;
  color: #fff;
  font-size: 33px;
  margin-bottom: 30px;
  max-width: 510px;
  gap: 36px;
  justify-content: center;
  margin: 83px auto 0 auto;
  padding: 27px 32px 31px 79px;
  width: 100%;
}

.top_button .image {
  width: 12px;
}

.top_button_image {
  vertical-align: middle;
}

.top_button_center {
  background-color: $blue;
  border-radius: 3px;
  color: $pure_white;
  font-size: 26px;
  max-width: 320px;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 100%;
}

.description_link_container {
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: auto;
}

.description_link {
  align-items: center;
  background-color: $pure_white;
  border-radius: 3px;
  color: $dark_blue;
  font-size: 21px;
  gap: 17px;
  height: 78px;
  justify-content: space-between;
  max-width: 320px;
  padding: 24px 22px;
  width: 100%;
}

.button_image {
  vertical-align: middle;
  width: 27px;
}

.description_link .text {
  width: 100%;
}

.outline_link {
  @include fv_button_bottom(300px);
}

.outline_link .image {
  align-items: center;
  height: 88px;
  width: 88px;
}

.outline_link .text {
  position: relative;
}

.outline_link .text::after {
  background-color: $dark_blue;
  bottom: -14px;
  content: "";
  height: 4px;
  position: absolute;
  right: 0;
  width: 100%;
}

.consortium_link {
  @include fv_button_bottom(470px);
}

.consortium_link .image {
  align-items: center;
  height: 88px;
  width: 88px;
}

.consortium_link .text {
  position: relative;
}

.consortium_link .text::after {
  background-color: $dark_blue;
  bottom: -14px;
  content: "";
  height: 4px;
  position: absolute;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .outline_link,
  .consortium_link {
    font-size: 24px;
  }

  .outline_link {
    @include fv_button_bottom(480px);
  }

  .consortium_link {
    @include fv_button_bottom(718px);
  }
}
