@charset "UTF-8";

// 変数定義
$blue: #005bac;
$dark_blue: #151d41;
$deep_black: #000000;
$light_gray: #7F7F7F;
$pink: #F552C3;
$pure_white: #FFFFFF;

@font-face {
  font-family: 'Zen Kaku Gothic New, Medium';
  src: url('../fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Zen Kaku Gothic New, Bold';
  src: url(../fonts/ZenKakuGothicNew-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir, Book';
  src: url(../fonts/Avenir\ Book.ttf) format('truetype');
}


@mixin header_button {
  align-items: center;
  border: 2px solid $pure_white;
  border-radius: 50%;
  height: 96px;
  justify-content: center;
  width: 96px;
}


@mixin link_button($font_size, $padding...) {
  align-items: center;
  border: 2px solid $pure_white;
  border-radius: 55px;
  color: $pure_white;
  font-size: $font_size;
  justify-content: space-between;
  padding: $padding;
}

@mixin consortium_content($border_color, $max_width: 916px) {
  border: 4px solid $border_color;
  border-radius: 14px 10px 10px 10px;
  font-size: 25px;
  margin-bottom: 30px;
  max-width: $max_width;
  width: 100%;
}
