@font-face {
	font-family: "Zen Kaku Gothic New, Medium";
	src: url("../fonts/ZenKakuGothicNew-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Zen Kaku Gothic New, Bold";
	src: url(../fonts/ZenKakuGothicNew-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Avenir, Book";
	src: url(../fonts/Avenir\ Book.ttf) format("truetype");
}

html {
	font-size: 100%;
	height: 100%;
	max-width: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	min-height: 100vh;
}

img {
	-o-object-fit: cover;
	object-fit: cover;
	vertical-align: bottom;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: .4s;
}

input,
textarea {
	box-sizing: border-box;
	width: 100%;
}

.wrapper {
	margin: 0 auto;
}

.w_1910 {
	max-width: 1910px;
	padding: 0 69px;
	width: 100%;
}

.w_1124 {
	max-width: 1124px;
	padding: 0;
	width: 100%;
}

.w_1080 {
	max-width: 1080px;
	padding: 0;
	width: 100%;
}

.w_944 {
	max-width: 944px;
	padding: 0;
	width: 100%;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.txt_center {
	text-align: center;
}

.meiryo {
	font-family: Meiryo UI;
}

.zen_M {
	font-family: "Zen Kaku Gothic New, Medium",serif;
}

.zen_B {
	font-family: "Zen Kaku Gothic New, Bold",serif;
}

.avenir {
	font-family: "Avenir, Book",serif;
}

.azo_L {
	font-family: azo-sans-web,sans-serif;
	font-style: normal;
	font-weight: 300;
}

.azo_R {
	font-family: azo-sans-web,sans-serif;
	font-style: normal;
	font-weight: 400;
}

.azo_M {
	font-family: azo-sans-web,sans-serif;
	font-style: normal;
	font-weight: 500;
}

.azo_B {
	font-family: azo-sans-web,sans-serif;
	font-style: normal;
	font-weight: 700;
}

.bg_setting {
	background-image: url(../img/bg_B.jpg);
}

.page_title {
	font-size: 60px;
}

.header {
	height: 136px;
	width: 100%;
}

.header_layout {
	align-items: center;
	justify-content: space-between;
	padding: 30px 40px;
}

.header_left_contents {
	gap: 15px;
}

.header_right_contents {
	align-items: center;
}

.header_heading {
	color: #152e67;
	font-size: 40px;
	font-weight: 700;
}

.header_button {
	align-items: center;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 96px;
	justify-content: center;
	width: 96px;
}

.top_page_button {
	background-color: rgba(0,0,0,0);
	margin-right: 23px;
}

.subpage_button {
	background-color: #fff;
	margin-right: 20px;
}

.header_button_image {
	display: block;
	height: 44px;
	width: 52px;
}

.language_button {
	border: 2px solid #fff;
	border-radius: 8px;
	color: #fff;
	display: block;
	font-size: 40px;
	padding: 11px 30px;
}

