.top_main {
	margin-top: 108px;
}

.top_description_heading {
	font-size: 40px;
	margin-top: 60px;
}

.top_description_container {
	border: 6px solid #152e67;
	border-radius: 20px;
	box-shadow: 0px 8px 13.5px 0px rgba(0,0,0,.3019607843);
	margin-top: 20px;
	padding: 60px 40px;
}

.top_description_container .description {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 50px;
	text-align: left;
}

.top_button_container {
	gap: 0 100px;
	justify-content: center;
	margin-top: 160px;
}

.top_button_white,
.top_button_blue {
	display: block;
	font-size: 38px;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 50px;
	max-width: 760px;
	padding: 50px;
	width: 100%;
}

.top_button_white {
	background-color: #f2f2f2;
	border: 4px solid #7f7f7f;
	border-radius: 20px;
	color: #000;
}

.top_button_blue {
	background-color: #152e67;
	border-radius: 20px;
	box-shadow: 0px 6px 4px 0px rgba(0,0,0,.2509803922);
	color: #fff;
}

.case_select_main {
	margin-top: 108px;
}

.case_layout {
	gap: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 100px;
}

.case_container {
	border: 2px solid #7f7f7f;
	border-radius: 16px;
	gap: 16px 30px;
	justify-content: space-between;
	padding: 30px 32px;
}

.case_left_contents {
	max-width: 489px;
	width: 100%;
}

.case_right_contents {
	max-width: 330px;
	width: 100%;
}

.case_heading {
	background-color: #7f7f7f;
	border-radius: 6px;
	color: #fff;
	font-size: 28px;
	margin-bottom: 30px;
	max-width: 340px;
	padding: 10px 20px;
	width: 100%;
}

.case_text {
	font-size: 28px;
}

.case_image {
	display: block;
	margin-bottom: 16px;
	width: 100%;
}

.case_link {
	border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 30px;
	padding: 20px;
}

.simulation_link {
	background-color: #43b99a;
	border: 4px solid #2f8770;
	margin-bottom: 16px;
}

.scheme_link {
	background-color: #ed7d31;
	border: 4px solid #c26322;
}

.example_container {
	border: 2px solid #7f7f7f;
	border-radius: 16px;
	flex-direction: column;
	padding: 30px 32px;
}

.example_heading_container {
	align-items: center;
	gap: 0 30px;
	margin-bottom: 26px;
}

.example_heading {
	background-color: #7f7f7f;
	border-radius: 6px;
	color: #fff;
	font-size: 28px;
	max-width: 156px;
	padding: 10px 20px;
	width: 100%;
}

.example_subheading {
	font-size: 28px;
	letter-spacing: .04em;
}

.example_contents_container {
	justify-content: space-between;
	margin-bottom: 26px;
}

.example_container .horizon_line {
	background-color: #d9d9d9;
	height: 2px;
	margin-bottom: 26px;
	width: 100%;
}

