@font-face {
	font-family: "Zen Kaku Gothic New, Medium";
	src: url("../fonts/ZenKakuGothicNew-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Zen Kaku Gothic New, Bold";
	src: url(../fonts/ZenKakuGothicNew-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Avenir, Book";
	src: url(../fonts/Avenir\ Book.ttf) format("truetype");
}

.top_main {
	height: 100%;
}

.fv {
	height: 100%;
}

.fv_container {
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.fv_left_contents {
	align-items: center;
	justify-content: center;
}

.top_main .page_title {
	color: #fff;
	font-size: 52px;
	font-weight: normal;
	letter-spacing: 7.72px;
	margin: 0 auto;
	max-width: 800px;
	text-shadow: 0px 0px 10px rgba(29,73,100,.1607843137);
}

.fv_right_contents {
	align-items: center;
	background-color: #161a2e;
	flex-direction: column;
	justify-content: center;
}

.empty {
	margin-bottom: auto;
}

.top_button_center {
	background-color: #328ffc;
	border-radius: 3px;
	color: #fff;
	font-size: 26px;
	max-width: 320px;
	padding-bottom: 22px;
	padding-top: 22px;
	width: 100%;
}

.description_link_container {
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	margin-bottom: 26px;
	margin-top: auto;
}

.description_link {
	align-items: center;
	background-color: #fff;
	border-radius: 3px;
	color: #232739;
	font-size: 21px;
	gap: 17px;
	height: 78px;
	justify-content: space-between;
	max-width: 320px;
	padding: 24px 22px;
	width: 100%;
}

.button_image {
	vertical-align: middle;
	width: 27px;
}

.description_link .text {
	width: 100%;
}

.consortium_link {
	align-items: flex-start;
	color: #232739;
	font-size: 30px;
	gap: 24px;
	justify-content: center;
	margin: 65px auto 0 auto;
	max-width: 718px;
	width: 100%;
}

.consortium_link .image {
	display: block;
	height: 49px;
	width: 49px;
}

.consortium_link .text {
	position: relative;
}

.consortium_link .text::after {
	background-color: #232739;
	bottom: -14px;
	content: "";
	height: 4px;
	position: absolute;
	right: 0;
	width: 100%;
}

.top_description {
	background-color: #232739;
	color: #fff;
	margin-top: 103px;
	padding: 38px 68px;
}

.section_title {
	font-size: 29px;
	font-weight: normal;
	letter-spacing: .72px;
}

.description {
	font-size: 26px;
	margin-top: 20px;
}

@media screen and (max-width: 1400px) {

.top_button_center {
	font-size: 22px;
	max-width: 260px;
}

.description_link {
	font-size: 17px;
	max-width: 260px;
}

}

